<!DOCTYPE html>
<html th:lang="${#locale.language}"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<!--/* jqgrid config */-->
	<th:block th:fragment="config">
		<link rel="stylesheet" th:href="@{/css/reset.css}" />

		<!--/* LIB CSS */-->
		<link rel="stylesheet" th:href="@{/webjars/jquery-ui-themes/1.12.1/redmond/jquery-ui.min.css}" />

		<link rel="stylesheet" th:href="@{/libs/fontawesome/all.css}" />
		<link rel="stylesheet" th:href="@{/libs/jqgrid/ui.jqgrid-custom.css}" />
		<link rel="stylesheet" th:href="@{/libs/timepicker/jquery.timepicker.min.css}" />
		<link rel="stylesheet" th:href="@{/libs/overlayscrollbars/OverlayScrollbars.css}" />
		<link rel="stylesheet" th:href="@{/libs/sticky-table/sticky-table.min.css}" />
		<link rel="stylesheet" th:href="@{/libs/w2ui-1.5-back.css}" />

	    <script th:src="@{/messages.js}"></script>

		<!--/* WebJars */-->
	    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	    <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	    <script th:src="@{/webjars/stomp-websocket/2.3.4/stomp.min.js}"></script>
	    <script th:src="@{/webjars/sockjs-client/1.5.2/dist/sockjs.min.js}"></script>
	    <script th:src="@{/webjars/hammerjs/2.0.8/hammer.min.js}"></script>

		<!--/* LIB JS */-->
	    <script th:src="@{/libs/jquery/jquery.serializeObject.js}"></script>
	    <script th:src="@{/libs/jquery/jquery.fileDownload.js}"></script>
	    <script th:src="@{/libs/dayjs/dayjs.min.js}"></script>
	    <script th:src="@{/libs/timepicker/jquery.timepicker.min.js}"></script>

		<!--/* LIB Multilingual */-->
<th:block th:switch="${#locale.language}">
	<th:block th:case="ko">
		<script th:src="@{/libs/jquery/i18n/datepicker-ko.js}"></script>
		<script th:src="@{/libs/jqgrid/i18n/grid.locale-kr.js}"></script>
		<script th:src="@{/libs/dayjs/locale/ko.js}"></script>
	</th:block>
	<th:block th:case="ja">
		<script th:src="@{/libs/jquery/i18n/datepicker-ja.js}"></script>
		<script th:src="@{/libs/jqgrid/i18n/grid.locale-ja.js}"></script>
		<script th:src="@{/libs/dayjs/locale/ja.js}"></script>
	</th:block>
	<th:block th:case="zh">
		<script th:src="@{/libs/jquery/i18n/datepicker-zh.js}"></script>
		<script th:src="@{/libs/jqgrid/i18n/grid.locale-cn.js}"></script>
		<script th:src="@{/libs/dayjs/locale/zh-cn.js}"></script>
	</th:block>
	<th:block th:case="*">
		<script th:src="@{/libs/jqgrid/i18n/grid.locale-en.js}"></script>
	</th:block>
</th:block>

	    <script th:src="@{/libs/jqgrid/jquery.jqgrid.custom.js}"></script>
	    <script th:src="@{/libs/loadingoverlay.min.js}"></script>
	    <script th:src="@{/libs/overlayscrollbars/jquery.overlayScrollbars.js}"></script>
	    <script th:src="@{/libs/w2ui-1.5.js}"></script>
	    <script th:src="@{/libs/xlsx/xlsx.full.min.js}"></script>
	    <script th:src="@{/libs/file-saver/FileSaver.min.js}"></script>
	    <script th:src="@{/libs/jspdf/jspdf.umd.min.js}"></script>
	    <script th:src="@{/libs/jspdf/jspdf.plugin.autotable.min.js}"></script>
	    <script th:src="@{/libs/pdfmake/pdfmake.min.js}"></script>
	    <script th:src="@{/libs/pdfmake/vfs_fonts.js}"></script>
	    <script th:src="@{/libs/es6-promise/es6-promise.auto.min.js}"></script>
	    <script th:src="@{/libs/html2canvas/html2canvas.min.js}"></script>
	    <script th:src="@{/libs/jquery/tableExport.min.js}"></script>
	    <script th:src="@{/libs/sticky-table/sticky-table.min.js}"></script>

	    <!--/* CSS */-->
		<link rel="stylesheet" th:href="@{/css/common.css}" />

	    <!--/* JS */-->
	    <script th:src="@{/js/common.js}"></script>
		<script th:src="@{/js/ui.js}"></script>

	</th:block>



	<!--/* pqgrid config */-->
	<th:block th:fragment="frame-config">
		<link rel="stylesheet" th:href="@{/css/reset.css}" />

		<!--/* LIB CSS */-->
		<link rel="stylesheet" th:href="@{/libs/jquery-ui-1.12.1.custom/jquery-ui.css}" />
		<link rel="stylesheet" th:href="@{/libs/timepicker/jquery.timepicker.min.css}" />
		<link rel="stylesheet" th:href="@{/libs/fontawesome/all.css}" />
		<link rel="stylesheet" th:href="@{/libs/paramquery-8.2.1/pqgrid.min.css}" />
		<link rel="stylesheet" th:href="@{/libs/paramquery-8.2.1/pqgrid.ui.min.css}" />
		<link rel="stylesheet" th:href="@{/libs/paramquery-8.2.1/themes/sun/pqgrid.css}" />
		<link rel="stylesheet" th:href="@{/libs/overlayscrollbars/OverlayScrollbars.css}" />
		<link rel="stylesheet" th:href="@{/libs/sticky-table/sticky-table.min.css}" />
		<link rel="stylesheet" th:href="@{/libs/w2ui-1.5-back.css}" />

		<script th:src="@{/messages.js}"></script>

		<!--/* WebJars */-->
	    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	    <script th:src="@{/webjars/stomp-websocket/2.3.4/stomp.min.js}"></script>
	    <script th:src="@{/webjars/sockjs-client/1.5.2/dist/sockjs.min.js}"></script>
	    <script th:src="@{/webjars/hammerjs/2.0.8/hammer.min.js}"></script>
	    <script th:src="@{/webjars/jszip/2.6.1/dist/jszip.min.js}"></script>
	    <script th:src="@{/libs/timepicker/jquery.timepicker.min.js}"></script>

		<!--/* LIB JS */-->
	    <script th:src="@{/libs/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	    <script th:src="@{/libs/jquery/jquery.serializeObject.js}"></script>
	    <script th:src="@{/libs/jquery/jquery.fileDownload.js}"></script>
	    <script th:src="@{/libs/dayjs/dayjs.min.js}"></script>
	    <script th:src="@{/libs/paramquery-8.2.1/pqgrid.dev.js}"></script>
	    <script th:src="@{/libs/paramquery-8.2.1/javascript-detect-element-resize/jquery.resize.js}"></script>

		<!--/* LIB Multilingual */-->
<th:block th:switch="${#locale.language}">
	<th:block th:case="ko">
		<script th:src="@{/libs/jquery/i18n/datepicker-ko.js}"></script>
		<script th:src="@{/libs/paramquery-8.2.1/localize/pq-localize-kr.js}"></script>
	</th:block>
	<th:block th:case="ja">
		<script th:src="@{/libs/jquery/i18n/datepicker-ja.js}"></script>
		<script th:src="@{/libs/paramquery-8.2.1/localize/pq-localize-ja.js}"></script>
		<script th:src="@{/libs/dayjs/locale/ja.js}"></script>
	</th:block>
	<th:block th:case="zh">
		<script th:src="@{/libs/jquery/i18n/datepicker-zh.js}"></script>
		<script th:src="@{/libs/paramquery-8.2.1/localize/pq-localize-zh.js}"></script>
		<script th:src="@{/libs/dayjs/locale/zh-cn.js}"></script>
	</th:block>
</th:block>

	    <script th:src="@{/libs/loadingoverlay.min.js}"></script>
	    <script th:src="@{/libs/overlayscrollbars/jquery.overlayScrollbars.js}"></script>
	    <script th:src="@{/libs/w2ui-1.5.js}"></script>
	    <script th:src="@{/libs/xlsx/xlsx.full.min.js}"></script>
	    <script th:src="@{/libs/file-saver/FileSaver.min.js}"></script>
	    <script th:src="@{/libs/jspdf/jspdf.umd.min.js}"></script>
	    <script th:src="@{/libs/jspdf/jspdf.plugin.autotable.min.js}"></script>
	    <script th:src="@{/libs/pdfmake/pdfmake.min.js}"></script>
	    <script th:src="@{/libs/pdfmake/vfs_fonts.js}"></script>
	    <script th:src="@{/libs/es6-promise/es6-promise.auto.min.js}"></script>
	    <script th:src="@{/libs/html2canvas/html2canvas.min.js}"></script>
	    <script th:src="@{/libs/jquery/tableExport.min.js}"></script>
	    <script th:src="@{/libs/sticky-table/sticky-table.min.js}"></script>
	    <script th:src="@{/libs/filesize/lib/filesize.min.js}"></script>
	    <script th:src="@{/libs/v8n/dist/v8n.min.js}"></script>

	    <!--/* CSS */-->
		<link rel="stylesheet" th:href="@{/css/common.css}" />

	    <!--/* JS */-->
	    <script th:src="@{/js/common.js}"></script>
		<script th:src="@{/js/ui.js}"></script>
	    <script th:src="@{/js/pqgrid-custom.js}"></script>

	</th:block>



	<!--/* mobile config */-->
	<th:block th:fragment="mobile-config">
		<link rel="stylesheet" th:href="@{/css/reset.css}" />

		<!--/* LIB CSS */-->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.5.0/font/bootstrap-icons.css}" />
		<link rel="stylesheet" th:href="@{/libs/fontawesome/all.css}" />

		<script th:src="@{/messages.js}"></script>

		<!--/* WebJars */-->
	    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	    <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
	    <script th:src="@{/webjars/stomp-websocket/2.3.4/stomp.min.js}"></script>
	    <script th:src="@{/webjars/sockjs-client/1.5.2/dist/sockjs.min.js}"></script>
	    <script th:src="@{/webjars/hammerjs/2.0.8/hammer.min.js}"></script>

		<!--/* LIB JS */-->
	    <script th:src="@{/libs/jquery/jquery.serializeObject.js}"></script>
	    <script th:src="@{/libs/jquery/jquery.fileDownload.js}"></script>
	    <script th:src="@{/libs/dayjs/dayjs.min.js}"></script>

		<!--/* LIB Multilingual */-->
<th:block th:switch="${#locale.language}">
	<th:block th:case="ko">
		<script th:src="@{/libs/dayjs/locale/ko.js}"></script>
	</th:block>
	<th:block th:case="ja">
		<script th:src="@{/libs/dayjs/locale/ja.js}"></script>
	</th:block>
	<th:block th:case="zh">
		<script th:src="@{/libs/dayjs/locale/zh-cn.js}"></script>
	</th:block>
</th:block>

	    <!--/* CSS */-->
		<link rel="stylesheet" th:href="@{/css/mobile-common.css}" />

	    <!--/* JS */-->
	    <script th:src="@{/js/mobile-common.js}"></script>

	</th:block>

	<!-- Chart JS -->
	<th:block th:fragment="chart-config">
		<script th:src="@{/libs/chart.js/dist/chart.min.js}"></script>
		<script th:src="@{/libs/chartjs-plugin-zoom/dist/chartjs-plugin-zoom.min.js}"></script>
		<script th:src="@{/libs/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js}"></script>
		<script th:src="@{/libs/chartjs-plugin-annotation/dist/chartjs-plugin-annotation.min.js}"></script>
	</th:block>

	<th:block th:fragment="chart-dev-config">
		<script th:src="@{/libs/chart.js/dist/chart.js}"></script>
		<script th:src="@{/libs/chartjs-plugin-zoom/dist/chartjs-plugin-zoom.js}"></script>
		<script th:src="@{/libs/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.js}"></script>
		<script th:src="@{/libs/chartjs-plugin-annotation/dist/chartjs-plugin-annotation.js}"></script>
	</th:block>

		<!--/* monitor config */-->
	<th:block th:fragment="monitor-config">
		<!--/* LIB CSS */-->
		<script th:src="@{/messages.js}"></script>

		<!--/* WebJars */-->
	    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	    <script th:src="@{/webjars/stomp-websocket/2.3.4/stomp.min.js}"></script>
	    <script th:src="@{/webjars/sockjs-client/1.5.2/dist/sockjs.min.js}"></script>

		<!--/* LIB JS */-->
	    <script th:src="@{/libs/dayjs/dayjs.min.js}"></script>

		<!--/* LIB Multilingual */-->
<th:block th:switch="${#locale.language}">
	<th:block th:case="ko">
		<script th:src="@{/libs/dayjs/locale/ko.js}"></script>
	</th:block>
	<th:block th:case="ja">
		<script th:src="@{/libs/dayjs/locale/ja.js}"></script>
	</th:block>
	<th:block th:case="zh">
		<script th:src="@{/libs/dayjs/locale/zh-cn.js}"></script>
	</th:block>
</th:block>

	    <!--/* CSS */-->
		<link rel="stylesheet" th:href="@{/css/monitor.css}" />

	    <!--/* JS */-->
	    <script th:src="@{/js/monitor.js}"></script>

	</th:block>
</html>