<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation)
See here for more details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration>
	<springProperty scope="context" name="PROJECT_NAME" source="spring.application.name"/>
	<springProperty scope="context" name="NODE_NAME" source="tjs.server.node"/>
	<springProperty scope="context" name="LOG_ABSOLUTE_PATH" source="tjs.log.absolute-path"/>
	<springProperty scope="context" name="FILE_MAX_HISTORY" source="tjs.log.file-max-history"/>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="com.ysj.project.common.component.QueryLogFilter"/>
		<file>${LOG_ABSOLUTE_PATH}/${PROJECT_NAME}.${NODE_NAME}.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ABSOLUTE_PATH}/${PROJECT_NAME}.${NODE_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>${FILE_MAX_HISTORY}</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="com.ysj.project.common.component.QueryLogFilter"/>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>%yellow(%d{yyyy-MM-dd HH:mm:ss}) %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="off" additivity="false">
       	<appender-ref ref="CONSOLE"/>
	</logger>

	<logger name="org.springframework.messaging.simp.broker.SimpleBrokerMessageHandler" level="off" additivity="false">
       	<appender-ref ref="CONSOLE"/>
	</logger>

	<!-- WebSocket Debug Log -->
	<logger name="org.springframework.web.SimpLogging" level="off" additivity="false">
       	<appender-ref ref="CONSOLE"/>
	</logger>
	<!-- Hikari Debug Log -->
	<logger name="com.zaxxer.hikari" level="off" additivity="false">
       	<appender-ref ref="CONSOLE"/>
	</logger>
	<!-- Redis Debug Log -->
	<logger name="io.lettuce.core" level="off" additivity="false">
       	<appender-ref ref="CONSOLE"/>
	</logger>

	<!-- SQL Debug Log -->
	<logger name="jdbc.connection" level="off" />
	<logger name="jdbc.audit" level="off" />
	<logger name="jdbc.sqltiming" level="off" />
	<logger name="jdbc.resultset" level="off" />
	<logger name="jdbc.resultsettable" level="off" additivity="false">
       	<appender-ref ref="CONSOLE"/>
	</logger>
	<logger name="jdbc.sqlonly" level="info" additivity="false">
       	<appender-ref ref="CONSOLE"/>
	</logger>
	<logger name="com.oktjs" level="info"  additivity="false">
       	<appender-ref ref="CONSOLE"/>
	</logger>

    <root level="debug">
       	<appender-ref ref="CONSOLE"/>
       	<appender-ref ref="FILE"/>
    </root>
</configuration>

