
	* {
		margin:0;
		padding:0;
	}
	
	html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 0;
        background-color:#d2ecf3;
      }
      
	li a {
		color: black;
		text-decoration-line: none;
		font-weight: bold;
		font-size: 20px;
	}
	header {
		top:0;
		width: 100%;
		height:50px;
		position: fixed;
		z-index: 3;
	}
	
	header.move {
		background-color:white;
	}
	.header_bar ul li {
		border-bottom: 1px solid skyblue;
		float: left;
		width: 25%;
		height: 50px;
		text-align: center;
		line-height: 50px;
		list-style: none;
		
	}
	.header_bar ul li a {
		display: block;
	}
	
	section {
		background-image: url('/img/main.png');
		background-repeat: no-repeat;
		background-size: 100% 60%;
		margin-top: 50px;
		width: 100%;
		height: 900px;
	}
	.container {
		width: 100%;
		height: 100%;
	}
	
	.nav_box{
		min-width: 70px;
		background-color: grey;
		position: fixed;
		border: 1px solid purple;
		width: 5%;
		height: 20%;
		top: 20%;
		left: 5%;
		text-align: center;
	}
	.nav_box ul {
		width: 100%;
		height: 100%;
	}
	
	.nav_box ul li {
		margin-top:10px;
		width: 100%;
		height: 33%;
		list-style: none;
	}
	
	.nav_box ul li a {
		display: block;
	}
	
	footer{
		position:absolute;
		background-color: grey;
		width: 100%;
		height: 50px;
		bottom: 0;
		left: 0;
		text-align: center;
		line-height: 50px;
	}