
.log_box {
	width:100%;
	height:100%;
	
}

.home_btn {
	text-align:center;
}
table {
	position:absolute;
	left:35%;
	top:15%;
	width:30%;
	height:50%;
}
.log {
	width:100%;
	height:100%;
	border:1px solid #e4e4ed;
	background-color: #e4e4ed;
	border-radius:50px;
}

.txt_box {
	border:1px solid #e4e4ed;
	background-color:#e4e4ed;
	margin-left:5%;
	width:90%;
	height:90%;
	color:black;
	font-size:15px;
}
.txt_box:focus {
	outline:none;
}

td {
	padding-top:5px;
	padding-bottom:5px;
}

.btn {
	width:100%;
	height:100%;
	border-radius:50px;
	background-color:#14bdec;
	border:1px solid #14bdec;
	color:white;
	font-size:15px;
	font-weight:1000;
}

.btn:hover {
	cursor:pointer;
}

.chk_box {
	width:20px;
	height:20px;
}

.foot {
	text-align:center;
}
.foot_center {
	border-left:1px solid grey;
	border-right:1px solid grey;
}

.foot_left {
	text-align:right;
}

.foot_right {
	text-align:left;
}


a {
	text-decoration:none;
	color:black;
}
foot a:hover {
	border-bottom: 1px solid black;
	color:black;
}

.login { 
		color:grey;
	}
.login:hover {
		color:#14bdec;
		cursor:pointer;
}
	
.login_click {
		color:#1010f0;
		border-bottom:3px solid #1010f0;
}
	