
      .swiper {
      	right:3%;
      	top: 10%;
        width: 50%;
        height: 50%;
        border: 1px solid black;
      }
      .swiper-slide {
        background-position: center;
        background-size: cover;
      }
      .swiper-slide img {
        display: block;
        width: 100%;
      }
      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 15px;
        font-size: 15px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
        padding: 5px;
      }
      .swiper-pagination-bullet-active {
        color: white;
        background: #007aff;
      }